<div class="container">
    <h1 class="page-header">Users list</h1>
    <select class="form-control" ng-init="orderBy='first_name'" ng-model="orderBy" id="">
        <option value="first_name">First name</option>
        <option value="last_name">Last name</option>
        <option value="position">Position</option>
    </select>
    <hr />
    <div class="row" ng-repeat="user in users | orderBy:orderBy">
        <div class="col-lg-8">
            <user data="user" index="$index"></user>
        </div>
    </div>
</div>